.box-1{
  padding: 10px 15px 10px 15px;
  margin: 15px 10px 15px 10px;
  background: #df03ad;
  border: 2px solid white;
  height: 300px;
  width: 50%;
  display: inline-block;
  visibility: hidden;
}

.box-2{
  padding: 10px 15px 10px 15px;
  margin: 15px 10px 15px 10px;
  background: #15da03;
  border: 2px solid white;
  display: inline-block;
}

.box-2:hover{
  color: white;
  border: 5px solid #15da03;
  background: #df03ad;
}